@import url('https://fonts.cdnfonts.com/css/bubblegum');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

/* Responsive: https://www.taniarascia.com/you-dont-need-a-framework/ */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Custom */
body {
  background-color: #94d8ff4b;
}
p, h1, h2, h3, h4, h5, h6, .navbar, footer {
  font-family: 'Open Sans', serif;
}
h1 {
  font-weight: 600;
}
h2 {
  font-weight: 500;
}
.bubblegum {
  font-family: 'BubbleGum', sans-serif;
}
.logo-header {
  width: 35%;
  max-width: 200px;
  height: auto;
}
.flip-y {
  transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
.title {
  color: #ffffff;
  font-size: 1.5rem;
}
.title-big {
  color: #ffffff;
  font-size: 3rem;
}
.title-big-grey {
  color: #424242;
  font-size: 3rem;
}
.min-height-screen {
  min-height: 60vh;
}
.container-map {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Visualizador de comics */
.ayu-yami-background {
  background-image: url("/assets/background.webp");
  /* background-color: #cbe0f8; */
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}
.comic-background {
  /* Si se automatiza le vista de comics ya no se usara */
  background-color: #cbe0f8;
}
.img-comic  {
  width: 98%;
  height: auto;
  padding-bottom: 1.5rem;
}
.center-screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* About */
.justify {
  text-align: justify;
}
/* .indent {
  text-indent: 2rem;
} */
.responsive-img-center {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}
.center-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Menu */
.img-menu {
  width: 95vw;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 992px) {
  .title {
    font-size: 3rem;
  }
  .img-comic {
    width: 80%;
  }
  iframe {
    width: 700px;
    height: 394px;
  }
  .responsive-img-center {
    width: 65%;
  }
  .img-menu {
    width: 65vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .title {
    font-size: 2.5rem;
  }
  .img-menu {
    width: 65vw;
  }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 305px) and (max-width: 575px) {
  iframe {
    width: 336px;
    height: 189px;
  }
}
@media screen and (max-width: 304px) {
  /* Evitar traslape con navbar que se expande */
  /* body {
    padding-top: 90px;
  } */
}